<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.growlithe.computer.mysql.computer.video.dao.mapper.MusicMapper">

    <resultMap id="BaseResultMap" type="com.growlithe.computer.mysql.computer.video.dao.domain.MusicDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="language" property="language" jdbcType="VARCHAR"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="capacity" property="capacity" jdbcType="VARCHAR"/>
        <result column="capacity_unit" property="capacityUnit" jdbcType="VARCHAR"/>
        <result column="music_or_mv" property="musicOrMv" jdbcType="INTEGER"/>
        <result column="format" property="format" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="base_property">
     id, name, language, author, capacity, capacity_unit, music_or_mv, format,
     status, create_by, create_time, update_by, update_time
    </sql>
    <sql id="save_property">
    id, name, language, author, capacity, capacity_unit, music_or_mv, format,
     status, create_by, create_time
    </sql>

    <select id="listAllMusicDO" resultMap="BaseResultMap">
        select
        <include refid="base_property"/>
        from computer.music
        where status = 1
    </select>

    <update id="updateCapacity" parameterType="java.util.List">
        <foreach collection="list" separator=";" item="item">
            update computer.music
            set capacity = #{item.capacity}
            where id = #{item.id}
        </foreach>
    </update>

    <!--<insert id="saveBatch" parameterType="java.util.List"  useGeneratedKeys="true" keyProperty="id">-->
        <!--insert into-->
        <!--computer.video(<include refid="save_property"/>)-->
        <!--VALUES-->
        <!--<foreach collection="list" item="item" separator=",">-->
            <!--(#{item.name},#{item.englishName},#{item.author}, #{item.capacity}, #{item.capacityUnit},-->
            <!--#{item.format}, #{item.language},  #{item.series},  #{item.quality},#{item.videoClass},-->
            <!--1, #{item.createBy}, now())-->
        <!--</foreach>-->
    <!--</insert>-->

</mapper>